<div class="container">
  <div class="row">
    <div class=" p-3 col-sm-3 bg-warning">
    <span style='font-size:60px;'>&#9993;</span>
<p>please describe your product idea in a nutshell.</p>
<p>We need your email to reach you back.</p>

 </div>

<div class=" p-5 col-sm-9 bg-white">
  <h3><b>Hire Us</b></h3>
  <span>Message</span>
  <form action="/action_page.php">
     <label for="w3review"></label>
        <textarea id="w3review" name="w3review" rows="4" cols="100">
Hi I need a quote for the finance messenger project. T he ideas is very simple--you can chat with friends and banks same as you chat with people ,plus you can do all basic internet banking commands right in chat.
   </textarea>
</form>
<form action="/action_page.php">
  <div class="row">
    <div class=" p-3 col">
        <span>Your name</span>
      <input type="text" class="form-control bg-light" id="Michael Morris" placeholder="Michael Morris" name="Michael Morris">
 </div>
 
    <div class=" p-3 col">
       <span>your mail</span>
      <input type="getmichael@fino.com" class="form-control bg-light" placeholder="getmichael@fino.com" name="getmichael@fino.com">
    </div>
    
    <div class="container">
          <h5><b>Cancel</b></h5>
          <button class="button" style="vertical-align:middle"><span><b>Send</b> </span></button>
   </div>    